@charset "UTF-8";

.container {
  display: flex;
  flex-direction: column;
}

.box {
  display: block;
  width: auto%;
  border: solid 1px #ff0000;
  margin: 25px;
  padding: 10px;
  max-width: 1100px;
}

.box-01 {
  flex-basis: 8%;
}

.box-02 {
  display: flex;
}

.box-
