@charset "UTF-8";

.container{
  display: flex;
  flex-direction: column;
}

.box{
  display: block;
  width: auto;
  border: solid 1px #ff0000;
  margin: 20px;
  padding: 10px;
  max-width: 1100px;
}

.box-1{
  flex-basis: 90px;
}

.box-2{
  display: flex;
}
/*child  of box*/
.box-child-1{
  flex-basis: 150px;
  height: 100px;
}
.box-child-2{
  flex-grow: 2;
}
/*child  of box-2*/
.box-3{
  display: flex;
}
/*child  of box-3*/
.box-child-3{
  flex-grow: 1;
  height: 250px;
}
.box-child-4{
  flex-grow: 1;
}
.box-child-5{
  flex-grow: 1;
}
.box-child-6{
  flex-grow: 1;
}
/*child  of box-3*/
.box-4{
  display: flex;
  justify-content: center;

}
/*child  of box-4*/
.box-child-7{

  flex-basis: 50%;
  border-top: 0;
  border-bottom: 0;
  height: 150px;
}
/*child  of box-4*/
