@charset "UTF-8";

.container{
  display: flex;
  flex-direction: column;
}

.box{
  max-width: 1100px;
  display: block;
  border: solid 1px white;
  margin:20px;
  padding: 10px;
}

.box-1{
  flex-grow: 20%;
  height: 100px;
}

.box-2{
  display: flex;
}

.box-2 .box-child-1{
  flex-grow:1;
  height: 150px;
}

.box-2 .box-child-2{
  flex-grow:4;
}

.box-3{
  display: flex;
}

.box-3 .box-child-3{
  flex-grow: 1;
  height: 200px;
}

.box-3 .box-child-4, .box .box-child-5, .box .box-child-6{
  flex-grow: 1;
}

.box-4 .box-child-7{
  width: 46%;
  margin: 0 auto;
  border-top: none;
  border-bottom: none;
  border-radius: 0px;
}







