@charset "UTF-8";

.container{
  display: flex;
  flex-direction: column;
}
.box{
  display: block;
  width: auto;
  border: solid 1px #ff0000;
  margin: 20px;
  padding: 10px;
  max-width: 1100px;
}
.box-1{
  flex-basis: 10%;
}
.box-2{

  display: flex;
}
/*Filhos do Box 2*/
.box-chield-1{
  flex-basis: 150px;
  height: 100px;

}
.box-chield-2{
  flex-grow: 2;
}

.box-3{
  display: flex;
}
.box-chield-3{
  flex-grow: 1;
  height: 250px;

}
.box-chield-4{
  flex-grow: 1;
  justify-content: content;
}

.box-chield-5{
  flex-grow: 1;

}
.box-chield-6{
  flex-grow: 1;
}
.box-4{
  display: flex;
  justify-content: center;
}
.box-chield-7{
  flex-basis: 50%;
  border-top: 0px;
  border-bottom: 0px;
  height: 150px;
}
