@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1,h2,h3{
  margin: 20px 10px;
}

.container{
  display: flex;
}

.box{
  display: block;
  width: 100%;
  border: solid 1px #ff0000;
  margin: 20px;
  padding: 10px;
  max-width: 1100px;
}

.box-1{
  flex-basis: 8%;
}

.box-2{
  display: flex;
}
/*box's child*/
.box-child-1{
  flex-basis: 150px;
}
.box-child-2{
  flex-grow: 2;
}

.box-3{
  display: flex;
}

.box-child-3{
  flex-grow: 1;
  height: 250px;
}

.box-child-4{
  flex-grow: 1;
}

.box-child-5{
  flex-grow: 1;
}

.box-child-6{
  flex-grow: 1;
}

.box-4{
  display: flex;
  justify-content: center;
  text-align: left;
}

.box-child-7{
  flex-basis: 50%;
  border-top:0;
  border-bottom:0;
  height: 150px;
}