@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1,h2,h3{
  margin: 20px 10px;
}

.container{
  display: block;
  width: 1000px;
  height: 1000px;
  padding: 10px;
  margin: auto;
  background: #000;
  color: #fff;
}
